body {
  background-color: white;
  font-family: 'Proxima-Nova';
  letter-spacing: 1.5px;
}

.dark-background {
  background-color: #2b4e64;
}

.mid-background {
  background-color: #4f7c91;
  margin-top: -20px;
}

h1 {
  font-size: 50px;
  letter-spacing: 13px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  letter-spacing: 7px;
  font-weight: 100;
}

h1, h2, h3, h4 {
  text-align: center;
  color: white;
  padding: 20px;
}

h3 {
    font-weight: 300;
}

h4 {
  font-size: 20px;
  padding-top: 40px;
  color: #2b4e64;
}

h5 {
  font-size: 30px;
  letter-spacing: 7px;
  font-weight: 500;
  padding-left: 40px;
  background-color: #2b4e64;
  margin: 0px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  text-align: center;
  padding:10px;
}

.body {
  text-align: center;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0px;
  margin-bottom: 40px;
}

/*--------------------------------------- Main Nav -------------------------------------*/

#head {
  height: 100px;
}

#logo {
  max-width: 350px;
  padding: 20px;
  margin-left: 8%;
  margin-bottom: -110px;
}

nav {
  display: inline;
  text-decoration: none;
  float: right;
  margin-top: 40px;
  margin-right: 10%;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 15px;
}

nav ul li a {
  color: white;
  padding: 10px;
}

nav ul li a:hover {
  background-color: white;
  color: #2b4e64;
  text-decoration: none;
}

nav ul li a:active {
  background-color: white;
  color: #2b4e64;
  text-decoration: none;
}

nav ul li a:focus {
  color: white;
    text-decoration: none;
}

/*--------------------------------------- Photo Slides -------------------------------------*/

#photo-slide-1 {
  background-image: url("../img/sink.jpg");
}

#photo-text {
  padding-top: 150px;
}

#photo-slide-2 {
  background-image: url("../img/gville.jpg");
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 500px;
}

/*--------------------------------------- Services -------------------------------------*/

#service{
  max-height: 1400px;
}

.icon {
  max-width: 50%;
  margin-left: 25%;
}

#icons {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col-sm-3{
  margin: 0px;
  padding: 0px;
}

/*--------------------------------------- Now Serving -------------------------------------*/

#serving{
  max-height: 1400px;
}

.sc {
  max-width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: -70px;
}

/*--------------------------------------- Services Page -------------------------------------*/
.bullet-list {
  font-size: 16px;
  list-style-type: circle;
  margin-left: 0;
  margin-right: 25%;
  margin-bottom: 50px;
}


/*--------------------------------------- Footer -------------------------------------*/
#foot {
  color: white;
  font-weight: lighter;
  padding: 10px 0px 7px 0px;
  text-align: center;
}
